<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header}"></head>
<body class="bg-light">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 >Maintenance Preventive Projects Report Detail</h3>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-6">
                        <dl class="item-property col-md-6">
                            <dt>Project Type</dt>
                            <dd><p>FLM (First Line Maintenance) </p></dd>
                        </dl>
                        <dl class="item-property col-md-6">
                            <dt>Tahun</dt>
                            <dd><p>2018</p></dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="item-property col-md-6">
                            <dt>Customer</dt>
                            <dd><p>DMT</p></dd>
                        </dl>
                        <dl class="item-property col-md-6">
                            <dt>Area / Sub Area</dt>
                            <dd><p>Sumbagsel (Paket 1) / Bengkulu DMT</p></dd>
                        </dl>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 >Nilai PO / Bulan</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <table class="table border table-sm table-striped ">
                        <thead>
                        <tr>
                            <th>Nomor PO</th>
                            <th>January</th>
                            <th>February</th>
                            <th>March</th>
                            <th>April</th>
                            <th>May</th>
                            <th>June</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>4100056733</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>6.000.000.000,00</td>
                        </tr>
                        <tr>
                            <td>4100056734</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>6.000.000.000,00</td>
                        </tr>
                        <tr>
                            <td>4100056735</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>1.000.000.000,00</td>
                            <td>6.000.000.000,00</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>3.000.000.000,00</td>
                            <td>3.000.000.000,00</td>
                            <td>3.000.000.000,00</td>
                            <td>3.000.000.000,00</td>
                            <td>3.000.000.000,00</td>
                            <td>3.000.000.000,00</td>
                            <td>6.000.000.000,00</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Budget & Realisasi</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Budget </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table border table-sm table-striped ">
                            <thead>
                            <tr>
                                <th>Nomor PO</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>4100056735</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>6.000.000.000,00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Realisasi</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table border table-sm table-striped ">
                            <thead>
                            <tr>
                                <th>Nomor PO</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>4100056735</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>6.000.000.000,00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Summary</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table border table-sm table-striped ">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Laba / Rugi</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <th>Realisasi Budget vs Nilai Budget</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <th>Realisasi Penagihan vs Nilai PO</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <th>Realisasi Budget vs Nilai PO</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <th>Budget vs PO</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <th>PPH 2%</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <th>Tgl pembayaran dr Cust</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <th>Cash cycle (bulan)</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <th>Bunga 1%/bulan</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <th>Laba/(rugi) sebelum depreasiasi</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>