<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header}"></head>
<body class="bg-light">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="col-md-12" th:each="dataRow : ${preventiveDetailDataList}">
                <div class="row">
                    <div class="col-md-12">
                        <h3 >Maintenance Preventive Projects Report Detail</h3>
                    </div>
                </div>
                <div class="row">&nbsp;</div>

                <div class="row">
                <div class="col-md-6">
                    <dl class="item-property col-md-6">
                        <dt>Project Type</dt>
                        <dd><p>FLM (First Line Maintenance) </p></dd>
                    </dl>
                    <dl class="item-property col-md-6">
                        <dt>Tahun</dt>
                        <dd><p th:text="${dataRow.tahun}">2018</p></dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="item-property col-md-6">
                        <dt>Customer</dt>
                        <dd><p th:text="${dataRow.customer_name}">DMT</p></dd>
                    </dl>
                    <dl class="item-property col-md-6">
                        <dt>Area / Sub Area</dt>
                        <dd><p th:text="${dataRow.area}">Sumbagsel (Paket 1) / Bengkulu DMT</p></dd>
                    </dl>
                </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 >Nilai PO / Bulan</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <table class="table border table-sm table-striped small">
                        <thead>
                        <tr>
                            <!--<th>Project ID</th>-->
                            <th>Nomor PO</th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Okt</th>
                            <th>Nov</th>
                            <th>Des</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dataRowPO : ${dataRow.sale_order}">
                            <!--<td>PPSAS_JUNI_2018</td>-->
                            <td th:text="${dataRowPO.client_order_ref}">4100056733</td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 1}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 2}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 3}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 4}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 5}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 6}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 7}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 8}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 9}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 10}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 11}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <td>
                                <span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">
                                    <span th:if="${dataRowPOLine.bulan == 12}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</span><span th:if="${dataRowPOLine.bulan != 1}">0,00</span>
                                </span>
                            </td>
                            <!--<span th:each="dataRowPOLine: ${dataRowPO.sale_order_line}">-->
                            <!--<td th:if="${dataRowPOLine.bulan == 1}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 1}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 2}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 2}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 3}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 3}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 4}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 4}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 5}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 5}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 6}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 6}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 7}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 7}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 8}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 8}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 9}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 9}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 10}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 10}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 11}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 11}">0,00</td>-->
                            <!--<td th:if="${dataRowPOLine.bulan == 12}" th:text="${#numbers.formatDecimal(dataRowPOLine.nilai_po, 1, 'POINT', 2, 'COMMA')}">0,00</td><td th:if="${dataRowPOLine.bulan != 12}">0,00</td>-->
                            <!--</span>-->
                            <td>0,00</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Budget & Realisasi</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Budget </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table border table-sm table-striped ">
                            <thead>
                            <tr>
                                <th>Project ID</th>
                                <th>Nomor PO</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PPSAS_JUNI_2018</td>
                                <td>4100056735</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>6.000.000.000,00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Realisasi</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table border table-sm table-striped ">
                            <thead>
                            <tr>
                                <th>Project ID</th>
                                <th>Nomor PO</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PPSAS_JUNI_2018</td>
                                <td>4100056735</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>1.000.000.000,00</td>
                                <td>6.000.000.000,00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Summary</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <table class="table border table-sm table-striped ">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>January</th>
                            <th>February</th>
                            <th>March</th>
                            <th>April</th>
                            <th>May</th>
                            <th>June</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Laba / Rugi</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Realisasi Budget vs Nilai Budget</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Realisasi Penagihan vs Nilai PO</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Realisasi Budget vs Nilai PO</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Budget vs PO</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>PPH 2%</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Tgl pembayaran dr Cust</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Cash cycle (bulan)</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Bunga 1%/bulan</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Laba/(rugi) sebelum depreasiasi</th>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>