<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header}"></head>
<body class="bg-light">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="col-md-12">
                <div class="row">
                    <h3 >Maintenance Preventive Projects Report</h3>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </main>
</body>
</html>